<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vue.dao.UserMapper">
    <select id="selectAll" resultType="User">
        select * from user
    </select>


    <select id="selectUserByUserCodeAndUserPassword" resultType="User">
        select * from user where userCode = #{userCode} and userPassword=#{userPassword}
    </select>

    <select id="selectUserById" resultType="User">
        select * from user where id = #{id}
    </select>

    <insert id="userAdd">
        insert into user (userCode,userName,userPassword)
        values (#{userCode},#{userName},#{userPassword});
    </insert>


</mapper>