<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户新增</title>
</head>
<body>
    <div id="app">
        <font color="red">{{message}}</font>
        <form action="#" onsubmit="return false">
            用户编码:<input type="text" name="userCode" v-model="userCode"><br>
            用户昵称:<input type="text" name="userName" v-model="userName"><br>
            密码:<input type="password" name="userPassword" v-model="userPassword"><br>
          <input type="submit"  value="新增" @click="userAddSave"><br>
        </form>
    </div>



    <script src="js/vuejs-2.5.16.js"></script>
    <script src="js/axios-0.18.0.js"></script>

    <script>
        var vue = new Vue({
            el:"#app",
            data:{
                userCode:'',
                userName:'',
                userPassword:'',
                message:''
            },
            methods:{
                userAddSave(){
                    axios.post('user/useradd',
                      {
                                userCode:this.userCode,
                                userName:this.userName,
                                userPassword:this.userPassword
                            }
                    ).then(response=>{
                        //1.若flag=true成功,跳转到userlist.html
                        if (response.data.flag){
                            window.location.href="/userlist.html";
                        }else{
                            this.message=response.data.message;
                        }
                        //2.flag=false,在当前页面,给一个消息提醒
                        //3.值在当前页面
                    }).catch(error=>{
                        window.location.href="/error.html";
                    });
                }
                /*userAddSave(){
                   axios.get('user/useradd',
                       {params:{
                               userCode:this.userCode,
                               userName:this.userName,
                               userPassword:this.userPassword
                           }}
                       ).then(response=>{
                           //1.若flag=true成功,跳转到userlist.html
                            if (response.data.flag){
                                window.location.href="/userlist.html";
                            }else{
                                this.message=response.data.message;
                            }
                           //2.flag=false,在当前页面,给一个消息提醒
                           //3.值在当前页面
                   }).catch(error=>{
                       window.location.href="/error.html";
                   });
                }*/
            }

        });
    </script>
</body>
</html>